<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vintage bags store</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <div class="cart-item"> 
                    <img src="<%= product.photo %>" alt="<%= product.name %>">
                    <div class="item-details"> <!-- Added class "item-details" -->
                        <h2><%= product.name %></h2>
                        <p class="price">$<%= product.price %></p>
                        <p class="quantity">Available: <%= product.amount %></p> <!-- Changed "quantity" to "Available" -->
                        <form action="/cart" method="POST">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <input type="number" name="quantity" value="1" min="1" max="<%= product.amount %>">
                            <button type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>

    

    <a href="/cart">
        <button>View Shopping Cart</button>
    </a>

    
    <script>
        function logProductId(productId) {
            console.log('Product ID:', productId);
        }
    </script>
</body>
</html>
